
@media (max-width: 1150px) // max-width: 1150px // TODO max-width: 1150px
    .background
        background-image: url(../images/electric.svg)

    .wrap
        max-width: 1120px
        margin: 0 20px

    ul.navigation-list
        display: none
    .header-navigation
        margin: 0 20px
    #show
        background-color: $orange
        border: 0
        color: #fff
        text-transform: uppercase
        cursor: pointer
        outline: none
        position: absolute
        top: 50%
        right: 20px
        transform: translate(-50%, -50%)
        display: block
        height: 40px
        z-index: 10000
        border-bottom: $border_bottom
        box-shadow: 2px 2px 2px #000
        

    .mob-menu
        min-height: 50px
        min-width: 50px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        cursor: pointer
        box-shadow: 3px 3px 4px #000
    .item
        width: 35px
        height: 2px
        background-color: #000
        margin: 8px 0
        display: block
    .nav-list
        display: flex
        flex-direction: column
        height: 100vh
        align-items: center
        position: fixed
        top: 82px
        background: $dark_blue
        min-width: 250px
        height: 100vh
        right: -250px
        border-left: $border_bottom_light
    .text-menu
        text-transform: uppercase

@media (max-width: 1070px) // max-width: 1070px // TODO max-width: 1070px
    .services-catalog
        max-width: 33%
    // .services-catalog:nth-child(7)
    //     max-width: 50%
    // .services-catalog:nth-child(8)
    //     max-width: 50%

@media (max-width: 950px) // max-width: 950px // TODO max-width: 950px
    .background
        height: 300px

    .services-catalog:nth-child(7)
        max-width: 50%
    .services-catalog:nth-child(8)
        max-width: 50%
    .footer-bottom__item > span
        display: none

@media (max-width: 850px) // max-width: 850px // TODO max-width: 850px
    .contact
        display: none
    .logo__desc
        display: none
    .logo__title
        height: 82px
        display: flex
        align-items: center
    .services-catalog
        width: 250px

    // .services-catalog:nth-child(7)
    //     max-width: 47%
    // .services-catalog:nth-child(8)
    //     max-width: 47%
    .footer__title
        font-size: 20px

@media (max-width: 750px) // max-width: 750px // TODO max-width: 750px
    .services-catalog
        max-width: 47%
    .services-catalog:nth-child(7)
        max-width: 47%
    .services-catalog:nth-child(8)
        max-width: 47%
    .services h2
        padding-top: 130px
        font-size: 20px
    .appeal h3
        font-size: 20px

    .services h2
        padding: 20px 0

@media (max-width: 700px) // max-width: 700px // TODO max-width: 700px
    .appeal-item
        color: #fff
        width: 47%
        margin: 9px
    .form-time
        text-align: center
    .form-field
        flex-wrap: wrap
    a.form-field__links
        white-space: nowrap
        margin-top: 20px
        font-size: 16px
    .footer__title
        font-size: 16px
    .footer__items
        max-width: 33%
    .form-field__inputphone
        text-align: center
    .background
        display: none
    .service
        margin-top: 50px
    .form-title
        font-size: 20px
    .footer__links a
        font-size: 14px
    .footer-desc
        font-size: 14px
    .footer-bottom__flex
        font-size: 14px

@media (max-width: 640px) // max-width: 640px // TODO max-width: 640px
    .appeal-item
        color: #fff
        width: 100%
        margin: 10px 0
    .form-field__inputphone
        margin-right: 0

@media (max-width: 600px) // max-width: 600px // TODO max-width: 600px
    .services h2
        display: none
    .service
        margin-top: 100px

@media (max-width: 500px) // max-width: 500px // TODO max-width: 500px
    &::before
        content: "меню"
        position: absolute
        left: -70px
        text-transform: uppercase
        font-weight: lighter
        display: none
    .services-catalog
        max-width: 100%
        width: 100%
    .services-catalog__buttons
        padding: 10px
        display: inline-block
        width: 50%
        font-size: 14px
    .services-catalog:nth-child(7)
        max-width: 100%
    .services-catalog:nth-child(8)
        max-width: 100%
        margin-bottom: 20px
    .footer__title
        font-size: 14px
    .logo__title
        font-size: 20px
    .logo
        padding-left: 0px
        background: none
    .footer__items
        max-width: 100%
    .footer__warranty
        display: none
    .footer-flex
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -ms-flex-pack: distribute
        justify-content: space-around
        padding: 20px 0
        min-height: 215px
        -ms-flex-wrap: wrap
        flex-wrap: wrap
    .footer-bottom__item:first-child
        display: none
    .footer-bottom__item:last-child
        width: 100%
        font-size: 18px
    .form-field__inputphone
        margin-right: 0
        width: 300px    
    .form-field__links
        white-space: nowrap
        margin-bottom: 10px
        font-size: 16px