body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  line-height: 1.4;
  font-size: 16px;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
}

h1 {
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header-line {
  background: rgba(2, 69, 120, 0.9);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 82px;
  color: #ffffff;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #125588;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background-image: url(../images/wall.svg);
  background-position: 0 50%;
  background-size: 47px 47px;
  background-repeat: no-repeat;
  padding-left: 70px;
}

.logo__title {
  font-size: 21px;
  text-transform: uppercase;
}

.log__desc {
  text-transform: uppercase;
  font-size: 12px;
}

.contact {
  line-height: 1.7;
  border-left: 3px solid #125588;
  border-right: 3px solid #125588;
  padding-left: 35px;
  padding-right: 35px;
}

.contact__geo {
  background-image: url(../images/location-pointer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding-left: 30px;
}

.contact__geo span {
  border-bottom: 1px solid #fff;
}

.contact__phone {
  padding-left: 5px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navigation ul a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.navigation ul a.active {
  color: #FFAF0F;
  font-weight: 900;
  text-decoration: underline;
}

.navigation ul a:hover {
  text-decoration: underline;
  color: #FFAF0F;
}

.orange {
  background: #125588;
  padding: 5px;
}

.background {
  background-image: url(../images/electric.svservices-catalog__buttonsg);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #ffffff;
}

.background-block {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mob-menu {
  height: 50px;
  width: 50px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.mob-menu .item {
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  display: block;
}

.masters__title {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 4px #000000;
}

.masters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.masters-form .masters-form__button {
  background-color: orange;
  min-width: 9%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../images/glass.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #000;
}

input, select, option {
  padding: 15px;
  outline: none;
}

option,
input[placeholder] {
  font-size: 26px;
  color: #125588;
}

input[type="text"] {
  border: none;
  outline: none;
}

select[name="master"] {
  min-width: 90%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/down-button.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  font-family: "Exo 2", sans-serif;
  margin-right: 1%;
  color: #000;
}

.form-field__links {
  background: #FFAF0F;
  padding: 20px 70px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border-bottom: 5px solid #D77232;
}

.masters__work {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.masters__work span {
  font-size: 30px;
}

.services h2 {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.services-catalog a {
  text-decoration: none;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 100px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-catalog {
  margin-bottom: 50px;
  max-width: 250px;
}

.services-catalog img {
  height: 170px;
  width: 250px;
  margin-bottom: 20px;
}

.services-catalog:last-child {
  margin-bottom: 0;
}

.services-catalog__title {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #125588;
  display: none;
}

.services-catalog__buttons {
  background: #FFAF0F;
  padding: 20px 0;
  text-align: center;
  color: #000000;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  text-decoration: underline;
  border-radius: 10px;
  border-bottom: 5px solid #D77232;
}

.appeal {
  background-image: url(../images/substrate_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 50px 0;
}

.appeal h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0;
  margin: 0;
}

.appeal-catalog {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.appeal-item {
  color: #fff;
}

.appeal-content__title {
  text-align: center;
  text-transform: uppercase;
}

.appeal-block {
  background-color: rgba(2, 69, 120, 0.6);
  height: 250px;
  border-radius: 10px;
  border-bottom: 5px solid #125588;
}

.appeal-wrap {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.appeal-content img {
  margin-bottom: 10px;
}

.form-phone {
  min-height: 400px;
  background: rgba(2, 69, 120, 0.5);
  color: #ffffff;
}

.form-wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 400px;
}

.form-title {
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 36px;
  max-width: 760px;
  margin-bottom: 10px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-time {
  font-size: 18px;
  text-align: right;
  margin-bottom: 40px;
}

.form-field__inputphone {
  width: 330px;
  margin-right: 20px;
  color: #125588;
  border-radius: 10px;
}

.card-masters {
  background-image: url(../images/bricks.svg);
  font-family: "Roboto Slab", serif;
}

.card-masters h3 {
  padding: 50px 0;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

.card-background {
  background: #fff;
  height: 800px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.card-info__name {
  font-size: 20px;
  text-transform: uppercase;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-info__position {
  background: #FF9200;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 2px 5px;
  font-weight: normal;
  display: inline-block;
}

.card-info__description p {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
  background: #EAE5E4;
  display: block;
  line-height: 1.7;
}

.star {
  background-image: url(../images/star.svg);
  width: 95px;
  height: 19px;
  background-repeat: repeat-x;
  display: inline-block;
  vertical-align: middle;
}

.card-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.card-contact__chat.form-title a {
  text-transform: uppercase;
}

.card-contact__phone {
  font-size: 16px;
}

.card-line {
  background: #024578;
  border: 1px solid #024578;
  opacity: 0.25;
  margin: 0 auto;
}

footer .footer-items__title {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

.footer__title {
  text-transform: uppercase;
  font-size: 36px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  height: 300px;
}

.footer-desc {
  width: 300px;
  text-align: center;
}

.footer-desc img {
  width: 80px;
  height: 80px;
}

.footer__links a {
  color: #024578;
  padding: 3px 0;
}

.footer__links ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.footer__ears {
  text-transform: uppercase;
  color: #FF9200;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-bottom__line {
  background: rgba(2, 69, 120, 0.7);
  min-height: 115px;
}

.footer-bottom__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 115px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-bottom__item p {
  margin: 0;
}

.footer-bottom__item span {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

@media (max-width: 1400px) {
  .background {
    background-image: url(../images/electric.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #ffffff;
  }
}

@media (max-width: 1366px) {
  .background {
    background-image: url(../images/electric.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #ffffff;
  }
}

@media (max-width: 1280px) {
  .background {
    background-image: url(../images/electric.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #ffffff;
  }
}

@media (max-width: 1150px) {
  .background {
    background-image: url(../images/electric.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #ffffff;
  }
  .wrap {
    max-width: 1120px;
    margin: 0 20px;
  }
  ul.navigation-list {
    display: none;
  }
  .header-navigation {
    margin: 0 20px;
  }
  .mob-menu {
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
  }
  .mob-menu .item {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    display: block;
  }
  .contact {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .background {
    background-image: url(../images/electric.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */